.yellowPage {
  background-color: #ffc533;
  height: 70vh;
  width: 40vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.BgImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.listEl {
  list-style-type: none;
}

.imageSizeEl {
  height: 200px;
  width: 300px;
  margin-left: 40px;
  margin-top: 30px;
}

.blackPage {
  background-color: black;
  height: 70vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.headingEl2 {
  font-size: 18px;
  font-weight: bold;
  color: #ffc533;
}

.buttonEl2 {
  background-color: #ffc533;
  color: black;
  border-radius: 1px;
  border-width: 0px;
  width: 45px;
  height: 20px;
  margin-left: 10px;
}

.headingEl1 {
  font-family: roboto;
  font-size: 20px;
  text-align: center;
}
